<app-section-title
    title="Pioneers in"
    text="Do you have a project idea but do not know how to start?"
    anchorContent="consult our specialists"
    color="#F7F8FF"
>
</app-section-title>

<section>
    <div class="search-box">
       <div class="input" tabindex="0">
            <input type="text">
            <img src="assets/images/pioneers/search.svg" alt="search icon">
            <img src="assets/images/pioneers/arrow.svg" alt="">
       </div>
    </div>
    <img src="assets/images/pioneers/map.svg" alt="pioneers map">
</section>