<section class="about">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur commodi minima ipsum. Libero ratione ex obcaecati dolor praesentium quia itaque reiciendis placeat! Ea, quibusdam maxime!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit hic tempora voluptate, sit adipisci dolorem cum nostrum placeat iure officia facere pariatur corrupti, delectus harum alias consequatur id dolores temporibus!</p>
</section>
<section class="values">
    <ul>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ut totam quis unde magnam dignissimos, iusto ipsa distinctio numquam deleniti?</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ut totam quis unde magnam dignissimos, iusto ipsa distinctio numquam deleniti?</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ut totam quis unde magnam dignissimos, iusto ipsa distinctio numquam deleniti?</li>
        <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis ut totam quis unde magnam dignissimos, iusto ipsa distinctio numquam deleniti?</li>
    </ul>
</section>