<section>
    <h2>Contact Us</h2>
    <article>
        <form action="">
            <section class="form-group">
                <fieldset>
                    <input type="text">
                    <input type="email">
                    <input type="text">
                    <input type="select">
                </fieldset>
                <fieldset>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </fieldset>
            </section>
            <section class="buttons">
                <button type="reset">Cancel</button>
                <button type="submit">Submit</button>
            </section>
        </form>
    </article>
</section>