<app-section-title
    title="Our Services"  
    text="Are you curious why our clients trust us?"
    anchorContent="See why"
    anchorTarget="#trust"  
>
</app-section-title>
<article class="grid">
    <app-service-card></app-service-card>
    <app-service-card></app-service-card>
    <app-service-card></app-service-card>
    <app-service-card></app-service-card>
    <app-service-card></app-service-card>
    <app-service-card></app-service-card>
    <app-service-card></app-service-card>
    <app-service-card></app-service-card>
</article>