/* You can add global styles to this file, and also import other style files */
*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    background-color: #fff;
}

.input {
    background-color: #87859D;
    border-radius: 10px;
    box-shadow: 7px 8px 14px #00000029;
    outline: none;
    line-height: 2;
    color: #f7f8ff;
}